{
  "openapi": "3.1.0",
  "info": {
    "title": "Clientes",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://api.iugu.com/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "query",
        "name": "api_token"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/customers/{id}": {
      "delete": {
        "summary": "Remover Cliente",
        "description": "Remove permanentemente um cliente. Porém, não permite remover clientes com assinaturas ou faturas vinculadas.",
        "operationId": "remover-cliente",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do cliente",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"77C2565F6F064A26ABED4255894224F0\",\n    \"email\": \"email@email.com\",\n    \"name\": \"Novo Nome do Cliente\",\n    \"notes\": \"Novas Anotações Gerais\",\n    \"created_at\": \"2013-11-18T14:58:30-02:00\",\n    \"updated_at\": \"2013-11-18T14:58:30-02:00\",\n    \"custom_variables\":[]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "77C2565F6F064A26ABED4255894224F0"
                    },
                    "email": {
                      "type": "string",
                      "example": "email@email.com"
                    },
                    "name": {
                      "type": "string",
                      "example": "Novo Nome do Cliente"
                    },
                    "notes": {
                      "type": "string",
                      "example": "Novas Anotações Gerais"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2013-11-18T14:58:30-02:00"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2013-11-18T14:58:30-02:00"
                    },
                    "custom_variables": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Buscar Cliente",
        "description": "Retorna os dados de um cliente",
        "operationId": "buscar-cliente",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do cliente",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"16179E5DB57F4DEC874F4204EE6B3E7C\",\n  \"email\": \"email@iugu.com\",\n  \"name\": \"Nome do Cliente\",\n  \"notes\": null,\n  \"created_at\": \"2024-04-29T13:11:24-03:00\",\n  \"updated_at\": \"2024-04-29T13:32:16-03:00\",\n  \"cc_emails\": null,\n  \"cpf_cnpj\": \"113.436.750-30\",\n  \"zip_code\": null,\n  \"number\": null,\n  \"complement\": null,\n  \"phone\": null,\n  \"phone_prefix\": null,\n  \"custom_variables\": [],\n  \"payment_methods\": [\n    {\n      \"id\": \"6D9395B1581F430B92ECAA19CFC01E72\",\n      \"description\": \"Descrição da Forma de Pagamento\",\n      \"item_type\": \"credit_card\",\n      \"data\": {\n        \"brand\": \"Visa\",\n        \"holder_name\": \"NOME DO TITULAR DO CARTÃO\",\n        \"display_number\": \"XXXX-XXXX-XXXX-1111\",\n        \"bin\": \"411111\",\n        \"year\": 2030,\n        \"month\": 12,\n        \"last_digits\": \"1111\",\n        \"first_digits\": \"411111\",\n        \"masked_number\": \"XXXX-XXXX-XXXX-1111\"\n      }\n    }\n  ],\n  \"default_payment_method_id\": \"6D9395B1581F430B92ECAA19CFC01E72\",\n  \"proxy_payments_from_customer_id\": null,\n  \"city\": null,\n  \"state\": null,\n  \"district\": null,\n  \"street\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "16179E5DB57F4DEC874F4204EE6B3E7C"
                    },
                    "email": {
                      "type": "string",
                      "example": "email@iugu.com"
                    },
                    "name": {
                      "type": "string",
                      "example": "Nome do Cliente"
                    },
                    "notes": {},
                    "created_at": {
                      "type": "string",
                      "example": "2024-04-29T13:11:24-03:00"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2024-04-29T13:32:16-03:00"
                    },
                    "cc_emails": {},
                    "cpf_cnpj": {
                      "type": "string",
                      "example": "113.436.750-30"
                    },
                    "zip_code": {},
                    "number": {},
                    "complement": {},
                    "phone": {},
                    "phone_prefix": {},
                    "custom_variables": {
                      "type": "array"
                    },
                    "payment_methods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "6D9395B1581F430B92ECAA19CFC01E72"
                          },
                          "description": {
                            "type": "string",
                            "example": "Descrição da Forma de Pagamento"
                          },
                          "item_type": {
                            "type": "string",
                            "example": "credit_card"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "brand": {
                                "type": "string",
                                "example": "Visa"
                              },
                              "holder_name": {
                                "type": "string",
                                "example": "NOME DO TITULAR DO CARTÃO"
                              },
                              "display_number": {
                                "type": "string",
                                "example": "XXXX-XXXX-XXXX-1111"
                              },
                              "bin": {
                                "type": "string",
                                "example": "411111"
                              },
                              "year": {
                                "type": "integer",
                                "example": 2030,
                                "default": 0
                              },
                              "month": {
                                "type": "integer",
                                "example": 12,
                                "default": 0
                              },
                              "last_digits": {
                                "type": "string",
                                "example": "1111"
                              },
                              "first_digits": {
                                "type": "string",
                                "example": "411111"
                              },
                              "masked_number": {
                                "type": "string",
                                "example": "XXXX-XXXX-XXXX-1111"
                              }
                            }
                          }
                        }
                      }
                    },
                    "default_payment_method_id": {
                      "type": "string",
                      "example": "6D9395B1581F430B92ECAA19CFC01E72"
                    },
                    "proxy_payments_from_customer_id": {},
                    "city": {},
                    "state": {},
                    "district": {},
                    "street": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Customer Not Found": {
                    "value": "{\n  \"errors\": \"Customer Not Found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "string",
                      "example": "Customer Not Found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Editar Cliente",
        "description": "Alterar os dados de um Cliente. Quaisquer parâmetros não informados não serão alterados.",
        "operationId": "alterar-cliente",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do cliente",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email do cliente"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do cliente"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notas"
                  },
                  "phone": {
                    "type": "integer",
                    "description": "Número do Telefone - 9 dígitos",
                    "format": "int32"
                  },
                  "phone_prefix": {
                    "type": "integer",
                    "description": "Prefixo, apenas números - 3 dígitos (obrigatório caso preencha \"phone\")",
                    "format": "int32"
                  },
                  "cpf_cnpj": {
                    "type": "string",
                    "description": "CPF ou CNPJ do cliente"
                  },
                  "cc_emails": {
                    "type": "string",
                    "description": "Endereços de E-mail para cópia separados por vírgula"
                  },
                  "zip_code": {
                    "type": "string",
                    "description": "CEP"
                  },
                  "number": {
                    "type": "string",
                    "description": "Número do endereço (obrigatório caso zip_code seja enviado)"
                  },
                  "street": {
                    "type": "string",
                    "description": "Rua"
                  },
                  "city": {
                    "type": "string",
                    "description": "Cidade"
                  },
                  "state": {
                    "type": "string",
                    "description": "Estado"
                  },
                  "district": {
                    "type": "string",
                    "description": "Bairro"
                  },
                  "complement": {
                    "type": "string",
                    "description": "Complemento de endereço. Ponto de referência."
                  },
                  "default_payment_method_id": {
                    "type": "string",
                    "description": "ID da Forma de Pagamento padrão do cliente, \"id\" obtido em \"Listar formas de pagamentos\", quando preenchido, vai fazer cobranças automáticas das faturas geradas para este cliente, na data do vencimento ou após vencimento. Enviar \"null\" para desvincular o cartão das cobranças automáticas."
                  },
                  "custom_variables": {
                    "type": "array",
                    "description": "Variáveis Personalizadas, adicionar, alterar ou remover. Para remover, envie \"name:$valor\" + \"_destroy:true\" - $valor é a própria chave para remoção do item.",
                    "items": {
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nome da variável"
                        },
                        "value": {
                          "type": "string",
                          "description": "Valor da variável"
                        },
                        "_destroy": {
                          "type": "boolean",
                          "description": "\"true\" ou \"false\""
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"77C2565F6F064A26ABED4255894224F0\",\n    \"email\": \"email@email.com\",\n    \"name\": \"Novo Nome do Cliente\",\n    \"notes\": \"Novas Anotações Gerais\",\n    \"created_at\": \"2013-11-18T14:58:30-02:00\",\n    \"updated_at\": \"2013-11-18T14:58:30-02:00\",\n    \"custom_variables\":[]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "77C2565F6F064A26ABED4255894224F0"
                    },
                    "email": {
                      "type": "string",
                      "example": "email@email.com"
                    },
                    "name": {
                      "type": "string",
                      "example": "Novo Nome do Cliente"
                    },
                    "notes": {
                      "type": "string",
                      "example": "Novas Anotações Gerais"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2013-11-18T14:58:30-02:00"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2013-11-18T14:58:30-02:00"
                    },
                    "custom_variables": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/customers": {
      "get": {
        "summary": "Listar Clientes",
        "description": "Retorna uma lista com todos os clientes cadastrados em sua conta ordenados pela data de Criação, sendo o primeiro o que foi criado mais recentemente. O campo totalItems contém a quantidade de clientes encontrados no sistema de acordo com os parametros `query`. O resultado da pesquisa fica dentro de `items`.",
        "operationId": "listar-cliente",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Limita o número de registros retornados em até 100, que é o padrão de retorno desta chamada. Também utilizado em <a href=\"https://dev.iugu.com/v1.0/reference#paginação\">paginação</a>.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Quantos registros pular do início da pesquisa.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "created_at_from",
            "in": "query",
            "description": "Registros criados a partir desta data passada no parâmetro. Formato (AAAA-MM-DDThh:mm:ss-03:00)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "created_at_to",
            "in": "query",
            "description": "Registros criados até esta data passada no parâmetro. Formato (AAAA-MM-DDThh:mm:ss-03:00)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Neste parâmetro pode ser passado um texto para pesquisa como e-mail, nome, anotações e variáveis customizadas. Ao usar este parâmetro, necessário usar paginação (limit, start, etc).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "Registros atualizados desde o valor passado no parâmetro. Formato (AAAA-MM-DDThh:mm:ss-03:00)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"items\": [\n    {\n      \"id\": \"138C7CBCBC9547F9873B6084BA4ACC87\",\n      \"email\": \"teste@iugu.com\",\n      \"name\": \"teste\",\n      \"notes\": null,\n      \"created_at\": \"2024-04-29T14:21:05-03:00\",\n      \"updated_at\": \"2024-04-29T14:21:05-03:00\",\n      \"cc_emails\": null,\n      \"cpf_cnpj\": \"43209212082\",\n      \"zip_code\": \"76871266\",\n      \"number\": \"123\",\n      \"complement\": null,\n      \"phone\": \"123456789\",\n      \"phone_prefix\": \"11\",\n      \"custom_variables\": [],\n      \"payment_methods\": [],\n      \"default_payment_method_id\": null,\n      \"proxy_payments_from_customer_id\": null,\n      \"city\": \"Ariquemes\",\n      \"state\": \"RO\",\n      \"district\": \"Jardim Paulista\",\n      \"street\": \"Avenida Araçatuba\"\n    },\n    {\n      \"id\": \"16179E5DB57F4DEC874F4204EE6B3E7C\",\n      \"email\": \"email@iugu.com\",\n      \"name\": \"Nome do Cliente\",\n      \"notes\": null,\n      \"created_at\": \"2024-04-29T13:11:24-03:00\",\n      \"updated_at\": \"2024-04-29T13:32:16-03:00\",\n      \"cc_emails\": null,\n      \"cpf_cnpj\": \"113.436.750-30\",\n      \"zip_code\": null,\n      \"number\": null,\n      \"complement\": null,\n      \"phone\": null,\n      \"phone_prefix\": null,\n      \"custom_variables\": [],\n      \"payment_methods\": [\n        {\n          \"id\": \"6D9395B1581F430B92ECAA19CFC01E72\",\n          \"description\": \"Descrição da Forma de Pagamento\",\n          \"item_type\": \"credit_card\",\n          \"data\": {\n            \"brand\": \"Visa\",\n            \"holder_name\": \"NOME DO TITULAR DO CARTÃO\",\n            \"display_number\": \"XXXX-XXXX-XXXX-1111\",\n            \"bin\": \"411111\",\n            \"year\": 2030,\n            \"month\": 12,\n            \"last_digits\": \"1111\",\n            \"first_digits\": \"411111\",\n            \"masked_number\": \"XXXX-XXXX-XXXX-1111\"\n          }\n        }\n      ],\n      \"default_payment_method_id\": \"6D9395B1581F430B92ECAA19CFC01E72\",\n      \"proxy_payments_from_customer_id\": null,\n      \"city\": null,\n      \"state\": null,\n      \"district\": null,\n      \"street\": null\n    },\n    {\n      \"id\": \"6313B0982D434FAAB3B6A2F18D86A545\",\n      \"email\": \"email@iugu.com\",\n      \"name\": \"Nome aqui\",\n      \"notes\": null,\n      \"created_at\": \"2024-04-22T14:38:06-03:00\",\n      \"updated_at\": \"2024-04-22T14:38:06-03:00\",\n      \"cc_emails\": null,\n      \"cpf_cnpj\": \"11343675030\",\n      \"zip_code\": \"09340350\",\n      \"number\": \"145\",\n      \"complement\": null,\n      \"phone\": \"971110111\",\n      \"phone_prefix\": \"011\",\n      \"custom_variables\": [],\n      \"payment_methods\": [\n        {\n          \"id\": \"F50F03519F4A44F49DB8359D9221DD99\",\n          \"description\": \"Método de pagamento para o pedido 4424\",\n          \"item_type\": \"credit_card\",\n          \"data\": {\n            \"brand\": \"Visa\",\n            \"holder_name\": \"NOME DO TITULAR\",\n            \"display_number\": \"XXXX-XXXX-XXXX-1111\",\n            \"bin\": \"411111\",\n            \"year\": 2030,\n            \"month\": 12,\n            \"last_digits\": \"1111\",\n            \"first_digits\": \"411111\",\n            \"masked_number\": \"XXXX-XXXX-XXXX-1111\"\n          }\n        }\n      ],\n      \"default_payment_method_id\": \"F50F03519F4A44F49DB8359D9221DD99\",\n      \"proxy_payments_from_customer_id\": null,\n      \"city\": \"Cidade\",\n      \"state\": \"SP\",\n      \"district\": \"Jardim Bela Vista\",\n      \"street\": \"Rua Sem Lugar\"\n    },\n    {\n      \"id\": \"3E064B35A6A64E35AE51241C927AACAA\",\n      \"email\": \"email@email.com\",\n      \"name\": \"Daniel\",\n      \"notes\": null,\n      \"created_at\": \"2024-03-19T14:28:43-03:00\",\n      \"updated_at\": \"2024-03-28T17:14:02-03:00\",\n      \"cc_emails\": null,\n      \"cpf_cnpj\": \"113.436.750-30\",\n      \"zip_code\": \"13505200\",\n      \"number\": \"123\",\n      \"complement\": null,\n      \"phone\": \"979797979\",\n      \"phone_prefix\": \"019\",\n      \"custom_variables\": [],\n      \"payment_methods\": [\n        {\n          \"id\": \"00BFCDDF40104A7C9DF0C2D39C2A0991\",\n          \"description\": \"Payment Method\",\n          \"item_type\": \"credit_card\",\n          \"data\": {\n            \"brand\": \"Visa\",\n            \"holder_name\": \"A Z\",\n            \"display_number\": \"XXXX-XXXX-XXXX-1111\",\n            \"bin\": \"411111\",\n            \"year\": 2031,\n            \"month\": 1,\n            \"last_digits\": \"1111\",\n            \"first_digits\": \"411111\",\n            \"masked_number\": \"XXXX-XXXX-XXXX-1111\"\n          }\n        },\n        {\n          \"id\": \"E42C07B59A3948F4B74329D3A7F41D7C\",\n          \"description\": \"Método de pagamento para o pedido 4388\",\n          \"item_type\": \"credit_card\",\n          \"data\": {\n            \"brand\": \"Visa\",\n            \"holder_name\": \"A Z\",\n            \"display_number\": \"XXXX-XXXX-XXXX-1111\",\n            \"bin\": \"411111\",\n            \"year\": 2030,\n            \"month\": 1,\n            \"last_digits\": \"1111\",\n            \"first_digits\": \"411111\",\n            \"masked_number\": \"XXXX-XXXX-XXXX-1111\"\n          }\n        }\n      ],\n      \"default_payment_method_id\": \"00BFCDDF40104A7C9DF0C2D39C2A0991\",\n      \"proxy_payments_from_customer_id\": null,\n      \"city\": \"Rio Claro\",\n      \"state\": \"SP\",\n      \"district\": \"Jardim Hipódromo\",\n      \"street\": \"Condomínio Bella Vitta\"\n    },\n    {\n      \"id\": \"6C2F076EAE524A15A749FEA422D9AF50\",\n      \"email\": \"bruna@email.com\",\n      \"name\": \"Bruna\",\n      \"notes\": null,\n      \"created_at\": \"2024-03-08T15:26:37-03:00\",\n      \"updated_at\": \"2024-03-08T16:32:23-03:00\",\n      \"cc_emails\": null,\n      \"cpf_cnpj\": \"43282274831\",\n      \"zip_code\": \"09791510\",\n      \"number\": \"146\",\n      \"complement\": null,\n      \"phone\": \"970885948\",\n      \"phone_prefix\": \"11\",\n      \"custom_variables\": [],\n      \"payment_methods\": [\n        {\n          \"id\": \"60A6E5FB8C4D4136B489A8043F9A6593\",\n          \"description\": \"prova\",\n          \"item_type\": \"credit_card\",\n          \"data\": {\n            \"brand\": \"Visa\",\n            \"holder_name\": \"BRUNA SOBRENOME\",\n            \"display_number\": \"XXXX-XXXX-XXXX-1111\",\n            \"bin\": \"411111\",\n            \"year\": 2024,\n            \"month\": 9,\n            \"last_digits\": \"1111\",\n            \"first_digits\": \"411111\",\n            \"masked_number\": \"XXXX-XXXX-XXXX-1111\"\n          }\n        },\n        {\n          \"id\": \"C3AE4AB7486741E282AA77053C231779\",\n          \"description\": \"teste\",\n          \"item_type\": \"credit_card\",\n          \"data\": {\n            \"brand\": \"Visa\",\n            \"holder_name\": \"NOME NO CARTAO\",\n            \"display_number\": \"XXXX-XXXX-XXXX-1111\",\n            \"bin\": \"411111\",\n            \"year\": 2029,\n            \"month\": 5,\n            \"last_digits\": \"1111\",\n            \"first_digits\": \"411111\",\n            \"masked_number\": \"XXXX-XXXX-XXXX-1111\"\n          }\n        }\n      ],\n      \"default_payment_method_id\": \"60A6E5FB8C4D4136B489A8043F9A6593\",\n      \"proxy_payments_from_customer_id\": null,\n      \"city\": \"São Bernardo do Campo\",\n      \"state\": \"SP\",\n      \"district\": \"Montanhão\",\n      \"street\": \"Rua Josefina Leonora Lotto Bueno\"\n    }\n  ],\n  \"totalItems\": 20\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "138C7CBCBC9547F9873B6084BA4ACC87"
                          },
                          "email": {
                            "type": "string",
                            "example": "teste@iugu.com"
                          },
                          "name": {
                            "type": "string",
                            "example": "teste"
                          },
                          "notes": {},
                          "created_at": {
                            "type": "string",
                            "example": "2024-04-29T14:21:05-03:00"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2024-04-29T14:21:05-03:00"
                          },
                          "cc_emails": {},
                          "cpf_cnpj": {
                            "type": "string",
                            "example": "43209212082"
                          },
                          "zip_code": {
                            "type": "string",
                            "example": "76871266"
                          },
                          "number": {
                            "type": "string",
                            "example": "123"
                          },
                          "complement": {},
                          "phone": {
                            "type": "string",
                            "example": "123456789"
                          },
                          "phone_prefix": {
                            "type": "string",
                            "example": "11"
                          },
                          "custom_variables": {
                            "type": "array"
                          },
                          "payment_methods": {
                            "type": "array"
                          },
                          "default_payment_method_id": {},
                          "proxy_payments_from_customer_id": {},
                          "city": {
                            "type": "string",
                            "example": "Ariquemes"
                          },
                          "state": {
                            "type": "string",
                            "example": "RO"
                          },
                          "district": {
                            "type": "string",
                            "example": "Jardim Paulista"
                          },
                          "street": {
                            "type": "string",
                            "example": "Avenida Araçatuba"
                          }
                        }
                      }
                    },
                    "totalItems": {
                      "type": "integer",
                      "example": 20,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Criar Cliente",
        "description": "Essa chamada cria um objeto cliente.\nA propriedade zip_code realiza uma pré-consulta e valida se existe um endereço valido para o cliente, porém caso não seja retornado os dados do endereço completo do cliente, será apresentado um erro ao tentar criar o cliente informando que falta alguma informação, pois não conseguimos obter nessa pré consulta.",
        "operationId": "criar-cliente",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "name"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email do cliente"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do cliente"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notas"
                  },
                  "phone": {
                    "type": "integer",
                    "description": "Número do Telefone - 9 dígitos",
                    "format": "int32"
                  },
                  "phone_prefix": {
                    "type": "integer",
                    "description": "Prefixo, apenas números - 3 dígitos (obrigatório caso preencha \"phone\")",
                    "format": "int32"
                  },
                  "cpf_cnpj": {
                    "type": "string",
                    "description": "CPF ou CNPJ do cliente. Obrigatório para emissão de boletos registrados. (apenas números)"
                  },
                  "cc_emails": {
                    "type": "string",
                    "description": "Endereços de E-mail para cópia separados por vírgula"
                  },
                  "zip_code": {
                    "type": "string",
                    "description": "CEP. Obrigatório para emissão de boletos registrados"
                  },
                  "number": {
                    "type": "string",
                    "description": "Número do endereço (obrigatório caso \"zip_code\" seja enviado)."
                  },
                  "street": {
                    "type": "string",
                    "description": "Rua. Obrigatório caso CEP seja incompleto."
                  },
                  "city": {
                    "type": "string",
                    "description": "Cidade"
                  },
                  "state": {
                    "type": "string",
                    "description": "Estado"
                  },
                  "district": {
                    "type": "string",
                    "description": "Bairro. Obrigatório caso CEP seja incompleto."
                  },
                  "complement": {
                    "type": "string",
                    "description": "Complemento de endereço. Ponto de referência."
                  },
                  "custom_variables": {
                    "type": "array",
                    "description": "Variáveis Personalizadas",
                    "items": {
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nome da variável"
                        },
                        "value": {
                          "type": "string",
                          "description": "Valor da variável"
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"138C7CBCBC9547F9873B6084BA4ACC87\",\n  \"email\": \"teste@iugu.com\",\n  \"name\": \"teste\",\n  \"notes\": null,\n  \"created_at\": \"2024-04-29T14:21:05-03:00\",\n  \"updated_at\": \"2024-04-29T14:21:05-03:00\",\n  \"cc_emails\": null,\n  \"cpf_cnpj\": \"43209212082\",\n  \"zip_code\": \"76871266\",\n  \"number\": \"123\",\n  \"complement\": null,\n  \"phone\": \"123456789\",\n  \"phone_prefix\": \"11\",\n  \"custom_variables\": [],\n  \"payment_methods\": [],\n  \"default_payment_method_id\": null,\n  \"proxy_payments_from_customer_id\": null,\n  \"city\": \"Ariquemes\",\n  \"state\": \"RO\",\n  \"district\": \"Jardim Paulista\",\n  \"street\": \"Avenida Araçatuba\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "138C7CBCBC9547F9873B6084BA4ACC87"
                    },
                    "email": {
                      "type": "string",
                      "example": "teste@iugu.com"
                    },
                    "name": {
                      "type": "string",
                      "example": "teste"
                    },
                    "notes": {},
                    "created_at": {
                      "type": "string",
                      "example": "2024-04-29T14:21:05-03:00"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2024-04-29T14:21:05-03:00"
                    },
                    "cc_emails": {},
                    "cpf_cnpj": {
                      "type": "string",
                      "example": "43209212082"
                    },
                    "zip_code": {
                      "type": "string",
                      "example": "76871266"
                    },
                    "number": {
                      "type": "string",
                      "example": "123"
                    },
                    "complement": {},
                    "phone": {
                      "type": "string",
                      "example": "123456789"
                    },
                    "phone_prefix": {
                      "type": "string",
                      "example": "11"
                    },
                    "custom_variables": {
                      "type": "array"
                    },
                    "payment_methods": {
                      "type": "array"
                    },
                    "default_payment_method_id": {},
                    "proxy_payments_from_customer_id": {},
                    "city": {
                      "type": "string",
                      "example": "Ariquemes"
                    },
                    "state": {
                      "type": "string",
                      "example": "RO"
                    },
                    "district": {
                      "type": "string",
                      "example": "Jardim Paulista"
                    },
                    "street": {
                      "type": "string",
                      "example": "Avenida Araçatuba"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": []
  },
  "x-readme-fauxas": true
}